In [1]:
import geopandas as gpd
import pandas as pd

## Open GIS Data

In [2]:
file_path = "data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp"
states_df = gpd.read_file(file_path)

## Get Ethnic Data

In [3]:
acs_ethnicity = pd.read_csv("data/ACSDT5Y2023.B04006-2025-03-26T203127.csv")

In [4]:
rename_columns = {}
for column in list(acs_ethnicity.columns):
    str_split = column.split("!!")
    if len(str_split) == 2:
        if str_split[1] == "Estimate":
            rename_columns[column] = str_split[0].strip()
    else:
        continue

In [5]:
states = list(rename_columns.values())
states.remove("Peoples township, Boone County, Iowa")

In [6]:
rename_columns["Label (Grouping)"] = "group"
states.append("group")
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

In [7]:
acs_ethnicity = acs_ethnicity[states]
states.remove("group")

#### Remove the last record as it's the titles, set then remove.

In [8]:
acs_ethnicity = acs_ethnicity.T.reset_index()
acs_ethnicity.columns = acs_ethnicity.iloc[52]
acs_ethnicity = acs_ethnicity.drop(acs_ethnicity.index[52])

In [9]:
states_series = acs_ethnicity["group"]

In [10]:
acs_ethnicity = acs_ethnicity.loc[:, acs_ethnicity.columns != "group"].apply(
    lambda col: pd.to_numeric(col.str.replace(",", ""), errors="coerce"), axis=1
)

In [11]:
acs_ethnicity["NAME"] = states_series

In [12]:
rename_columns = {col: col.strip() for col in list(acs_ethnicity.columns)}
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

## Get Difference Data

In [25]:
ancestry_tied_to_country = [
    "Egyptian",
    "Iraqi",
    "Jordanian",
    "Lebanese",
    "Moroccan",
    "Palestinian",
    "Syrian",
    "Arab",
    "Other Arab",
]

In [26]:
df = acs_ethnicity[["NAME", "Total:", *ancestry_tied_to_country]]
df["ancestry_countries"] = df[ancestry_tied_to_country].idxmax(axis=1)

/tmp/ipykernel_48873/2739200075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ancestry_countries"] = df[ancestry_tied_to_country].idxmax(axis=1)

In [27]:
df

52,NAME,Total:,Egyptian,Iraqi,Jordanian,Lebanese,Moroccan,Palestinian,Syrian,Arab,Other Arab,ancestry_countries
0,Alabama,5054253,719,188,136,5514,1443,1386,832,1106,2409,Lebanese
1,Alaska,733971,165,5,0,378,95,13,296,271,102,Lebanese
2,Arizona,7268175,3987,7171,2153,10572,1114,1677,2606,3642,5855,Lebanese
3,Arkansas,3032651,742,163,123,1480,240,341,542,505,1221,Lebanese
4,California,39242785,58473,26919,15011,67091,10940,27967,32023,37891,69813,Other Arab
5,Colorado,5810774,2004,1744,1023,7865,2352,2081,2103,2811,4448,Lebanese
6,Connecticut,3598348,2252,529,506,8930,2658,696,2294,2097,4318,Lebanese
7,Delaware,1005872,923,5,89,797,579,161,165,782,1274,Other Arab
8,District of Columbia,672079,564,468,108,2383,798,466,846,409,1141,Lebanese
9,Florida,21928881,19594,3890,4487,45267,14352,11417,16574,12652,17213,Lebanese
10,Georgia,10822590,4855,3895,770,11107,4003,2436,3031,2623,6177,Lebanese
11,Hawaii,1445635,236,13,23,766,80,169,226,155,238,Lebanese
12,Idaho,1893296,377,1004,56,1392,87,84,644,598,867,Lebanese
13,Illinois,12692653,8831,8239,10005,14173,5260,20463,5919,12602,17581,Palestinian
14,Indiana,6811752,3512,904,1763,5785,994,1501,2125,2913,4826,Lebanese
15,Iowa,3195937,1115,491,274,3000,638,459,749,1343,1167,Lebanese
16,Kansas,2937569,669,1102,519,3691,454,483,536,683,2204,Lebanese
17,Kentucky,4510725,1230,1867,693,3733,2015,1101,755,2794,2203,Lebanese
18,Louisiana,4621025,2099,384,1787,6786,543,3329,1377,3499,3506,Lebanese
19,Maine,1377400,101,655,35,2605,93,65,485,539,479,Lebanese
20,Maryland,6170738,6646,1324,1445,7299,4544,2785,3074,3814,6886,Lebanese
21,Massachusetts,6992395,6977,3666,1576,31826,10419,2466,6415,4156,9388,Lebanese
22,Michigan,10051595,5779,37698,5505,72432,3033,6369,13247,29657,44436,Lebanese
23,Minnesota,5713716,4325,2332,782,7464,2198,1482,1262,1889,4700,Lebanese
24,Mississippi,2951438,178,0,189,3080,354,228,471,1659,1389,Lebanese
25,Missouri,6168181,2188,2126,769,5826,1205,2384,2668,2909,4076,Lebanese
26,Montana,1105072,225,44,0,719,16,16,169,89,259,Lebanese
27,Nebraska,1965926,483,2703,237,1866,165,214,764,812,1554,Iraqi
28,Nevada,3141000,1584,1204,339,4412,1583,971,1282,1202,2515,Lebanese
29,New Hampshire,1387834,572,458,196,5422,598,108,1048,91,510,Lebanese
30,New Jersey,9267014,44306,1997,6161,14397,9115,9257,14312,7514,12802,Egyptian
31,New Mexico,2114768,281,636,413,2422,219,529,579,843,744,Lebanese
32,New York,19872319,39934,7332,6424,38401,18040,10182,19268,14608,46642,Other Arab
33,North Carolina,10584340,7458,1278,2425,13669,4782,3676,2903,4666,6522,Lebanese
34,North Dakota,779361,182,52,151,696,16,163,289,313,249,Lebanese
35,Ohio,11780046,8105,2900,5429,27161,4513,9368,6892,10646,14041,Lebanese
36,Oklahoma,3995260,710,733,337,4429,1094,200,1262,739,1781,Lebanese
37,Oregon,4238714,2333,1545,443,5021,671,1147,2126,2407,4100,Lebanese
38,Pennsylvania,12986518,11438,2515,1611,22717,5870,2766,15147,5135,11616,Lebanese
39,Rhode Island,1095371,1084,136,22,3563,550,235,1994,387,873,Lebanese
40,South Carolina,5212774,1830,1001,357,6303,1134,752,1219,1207,3097,Lebanese
41,South Dakota,899194,202,148,0,623,94,55,189,488,277,Lebanese
42,Tennessee,6986082,13277,4019,842,6683,980,2784,1464,4452,9095,Egyptian
43,Texas,29640343,21134,19259,12943,39317,8505,14069,11054,20778,29344,Lebanese
44,Utah,3331187,702,1516,369,2357,384,392,800,790,1470,Lebanese
45,Vermont,645254,19,81,36,1465,101,73,414,91,314,Lebanese
46,Virginia,8657499,14106,7185,3956,19063,11883,4595,5012,6397,15688,Lebanese
47,Washington,7740984,5254,5333,2444,8310,2489,2103,2732,3439,8340,Other Arab
48,West Virginia,1784462,548,73,43,3057,311,176,960,585,680,Lebanese
49,Wisconsin,5892023,1835,1419,682,3777,925,2658,1050,1262,2869,Lebanese
50,Wyoming,579761,43,0,12,161,17,28,36,74,296,Other Arab
51,Puerto Rico,3254885,11,18,0,302,36,704,47,825,0,Arab

## Merge Data

In [28]:
diff_gdf = states_df[["geometry", "NAME"]].merge(df, on="NAME", how="left")

In [29]:
diff_gdf = diff_gdf.to_crs(9311)

In [30]:
diff_gdf.to_file("data/diff.gpkg")