In [13]:
import geopandas as gpd
import pandas as pd

## Open GIS Data

In [14]:
file_path = "data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp"
states_df = gpd.read_file(file_path)

## Get Ethnic Data

In [15]:
acs_ethnicity = pd.read_csv("data/ACSDT5Y2023.B04006-2025-03-26T203127.csv")

In [16]:
rename_columns = {}
for column in list(acs_ethnicity.columns):
    str_split = column.split("!!")
    if len(str_split) == 2:
        if str_split[1] == "Estimate":
            rename_columns[column] = str_split[0].strip()
    else:
        continue

In [17]:
states = list(rename_columns.values())
states.remove("Peoples township, Boone County, Iowa")

In [18]:
rename_columns["Label (Grouping)"] = "group"
states.append("group")
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

In [19]:
acs_ethnicity = acs_ethnicity[states]
states.remove("group")

#### Remove the last record as it's the titles, set then remove.

In [20]:
acs_ethnicity = acs_ethnicity.T.reset_index()
acs_ethnicity.columns = acs_ethnicity.iloc[52]
acs_ethnicity = acs_ethnicity.drop(acs_ethnicity.index[52])

In [21]:
states_series = acs_ethnicity["group"]

In [22]:
acs_ethnicity = acs_ethnicity.loc[:, acs_ethnicity.columns != "group"].apply(
    lambda col: pd.to_numeric(col.str.replace(",", ""), errors="coerce"), axis=1
)

In [23]:
acs_ethnicity["NAME"] = states_series

In [24]:
rename_columns = {col: col.strip() for col in list(acs_ethnicity.columns)}
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

## Get Difference Data

In [29]:
ancestry_tied_to_country = [
    "Bahamian",
    "Barbadian",
    "Belizean",
    "Bermudan",
    "British West Indian",
    "Dutch West Indian",
    "Haitian",
    "Jamaican",
    "Trinidadian and Tobagonian",
    "U.S. Virgin Islander",
    "West Indian",
    "Other West Indian",
]

In [30]:
df = acs_ethnicity[["NAME", "Total:", *ancestry_tied_to_country]]
df["ancestry_countries"] = df[ancestry_tied_to_country].idxmax(axis=1)

/tmp/ipykernel_52996/2739200075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ancestry_countries"] = df[ancestry_tied_to_country].idxmax(axis=1)

In [31]:
df

52,NAME,Total:,Bahamian,Barbadian,Belizean,Bermudan,British West Indian,Dutch West Indian,Haitian,Jamaican,Trinidadian and Tobagonian,U.S. Virgin Islander,West Indian,Other West Indian,ancestry_countries
0,Alabama,5054253,511,139,157,459,403,159,2605,6031,709,97,2236,20,Jamaican
1,Alaska,733971,61,27,61,0,18,70,472,551,109,0,40,0,Jamaican
2,Arizona,7268175,490,694,917,37,357,192,2607,7283,1861,164,2160,220,Jamaican
3,Arkansas,3032651,86,19,125,93,54,1056,726,1024,486,29,880,172,Dutch West Indian
4,California,39242785,822,2403,21788,321,2454,1337,14287,39575,7012,619,9608,735,Jamaican
5,Colorado,5810774,52,506,468,21,364,186,1555,5347,676,158,1312,23,Jamaican
6,Connecticut,3598348,425,2175,235,76,2892,130,21797,61857,3886,356,4991,193,Jamaican
7,Delaware,1005872,16,583,27,132,405,38,6275,6696,1292,41,1018,0,Jamaican
8,District of Columbia,672079,85,164,181,95,540,0,1795,6534,1921,112,1618,140,Jamaican
9,Florida,21928881,30944,7273,4914,988,17688,2101,508229,312901,39962,8033,36335,1361,Haitian
10,Georgia,10822590,5018,3809,1321,488,6843,507,38839,76678,11236,1454,14554,188,Jamaican
11,Hawaii,1445635,7,27,189,39,112,0,790,1223,150,0,443,15,Jamaican
12,Idaho,1893296,3,0,39,0,0,4,426,398,95,1,105,0,Haitian
13,Illinois,12692653,567,725,5904,287,753,146,10505,16298,1743,176,3055,109,Jamaican
14,Indiana,6811752,393,145,548,0,233,198,8528,3968,616,72,1120,79,Haitian
15,Iowa,3195937,18,191,77,0,159,9,829,1575,125,0,351,0,Jamaican
16,Kansas,2937569,65,91,187,9,67,154,1095,1976,140,7,439,0,Jamaican
17,Kentucky,4510725,332,172,240,97,459,93,2514,2578,269,129,780,99,Jamaican
18,Louisiana,4621025,129,157,875,127,768,60,5069,3268,1615,30,1745,63,Haitian
19,Maine,1377400,8,126,27,43,12,4,457,1586,168,17,174,113,Jamaican
20,Maryland,6170738,1133,2340,577,556,4249,75,20365,44445,12874,1067,9688,207,Jamaican
21,Massachusetts,6992395,745,5888,572,525,4698,190,77297,35547,8431,589,6635,57,Haitian
22,Michigan,10051595,574,271,383,58,513,119,4788,10684,907,63,1400,114,Jamaican
23,Minnesota,5713716,461,98,245,54,185,58,2276,3422,1081,75,1353,35,Jamaican
24,Mississippi,2951438,110,74,202,0,4,132,621,2501,120,0,138,50,Jamaican
25,Missouri,6168181,201,163,185,43,314,582,2886,4808,736,11,666,37,Jamaican
26,Montana,1105072,22,0,17,38,0,72,221,250,79,0,267,0,West Indian
27,Nebraska,1965926,392,10,58,0,198,12,485,718,228,0,179,0,Jamaican
28,Nevada,3141000,230,172,1264,0,344,78,2496,4303,980,100,1008,13,Jamaican
29,New Hampshire,1387834,4,113,51,28,113,60,1997,2007,85,19,529,9,Jamaican
30,New Jersey,9267014,1002,4342,885,790,7423,421,69054,73318,18797,968,14987,257,Jamaican
31,New Mexico,2114768,14,74,91,0,116,342,627,911,48,20,225,10,Jamaican
32,New York,19872319,2754,26921,8664,1055,56608,1446,184585,311100,86929,3809,87986,1048,Jamaican
33,North Carolina,10584340,1021,1469,631,415,2376,172,13129,23778,3475,759,6406,174,Jamaican
34,North Dakota,779361,1,11,15,8,72,0,444,674,2,0,24,0,Jamaican
35,Ohio,11780046,459,466,467,136,341,99,5678,11867,1565,263,3119,77,Jamaican
36,Oklahoma,3995260,224,157,210,62,254,8856,846,2774,350,123,684,0,Dutch West Indian
37,Oregon,4238714,128,89,243,8,152,90,1123,2430,676,9,836,22,Jamaican
38,Pennsylvania,12986518,879,2475,1038,328,2604,171,27526,39522,8678,510,10154,92,Jamaican
39,Rhode Island,1095371,17,245,117,104,366,7,5227,2271,427,0,835,0,Haitian
40,South Carolina,5212774,802,301,69,76,468,99,4270,11507,1472,83,2184,212,Jamaican
41,South Dakota,899194,21,0,4,47,14,2,448,202,0,2,129,0,Haitian
42,Tennessee,6986082,505,89,651,84,915,648,3822,7260,1224,205,1736,110,Jamaican
43,Texas,29640343,3442,2633,4816,250,4809,5250,15693,40178,9647,1436,13230,399,Jamaican
44,Utah,3331187,50,26,309,0,51,93,996,971,223,0,265,6,Haitian
45,Vermont,645254,3,54,0,0,39,0,228,868,58,3,62,0,Jamaican
46,Virginia,8657499,1344,1547,678,165,1739,288,8285,23844,5519,1174,6638,32,Jamaican
47,Washington,7740984,298,288,770,73,707,126,2756,8027,1665,164,2479,133,Jamaican
48,West Virginia,1784462,133,38,5,0,28,66,345,1540,182,73,60,0,Jamaican
49,Wisconsin,5892023,280,84,206,7,52,94,1244,3798,100,152,863,81,Jamaican
50,Wyoming,579761,22,51,56,0,0,10,55,100,15,0,6,0,Jamaican
51,Puerto Rico,3254885,28,56,0,0,340,68,436,173,53,258,3264,51,West Indian

## Merge Data

In [28]:
diff_gdf = states_df[["geometry", "NAME"]].merge(df, on="NAME", how="left")

In [29]:
diff_gdf = diff_gdf.to_crs(9311)

In [30]:
diff_gdf.to_file("data/diff.gpkg")