In [2]:
import geopandas as gpd
import pandas as pd

## Open Europe Data

In [16]:
world_boundaries = gpd.read_file("data/world_boundaries.gpkg")

In [17]:
world_boundaries = world_boundaries[["geometry", "name", "iso3"]]

In [18]:
world_boundaries = world_boundaries.rename(
    columns={"name": "Area", "iso3": "Country Code"}
)

## Open pop data

In [23]:
country_pop_df = pd.read_csv(
    "data/API_SP.POP.TOTL_DS2_en_csv_v2_87/API_SP.POP.TOTL_DS2_en_csv_v2_87.csv",
    skiprows=4,
)

In [24]:
country_pop_df = country_pop_df[["Country Code", "2022"]]

In [27]:
world_boundaries_with_pop_gdf = world_boundaries.merge(
    country_pop_df, on="Country Code", how="left"
)

## Get FAO data

In [28]:
production_crops_df = pd.read_csv(
    "data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data.csv"
)

/tmp/ipykernel_76628/4000880986.py:1: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191,194,197) have mixed types. Specify dtype option on import or set low_memory=False.
  production_crops_df = pd.read_csv(

In [29]:
sunflower_df = production_crops_df[production_crops_df["Item Code"] == 268][
    ["Area", "Y2022"]
]

## Merge Data

In [30]:
sunflower_gdf = world_boundaries.merge(sunflower_df, on="Area", how="right")

In [31]:
sunflower_gdf[sunflower_gdf["geometry"] == None]

,geometry,Area,Country Code,Y2022
12,None,Belgium-Luxembourg,NaN,NaN
13,None,Bolivia (Plurinational State of),NaN,90100.00
14,None,Bosnia and Herzegovina,NaN,32400.00
22,None,"China, mainland",NaN,304100.00
25,None,Czechia,NaN,96600.00
26,None,Czechoslovakia,NaN,NaN
60,None,Netherlands (Kingdom of the),NaN,207000.00
61,None,North Macedonia,NaN,3200.00
68,None,Republic of Moldova,NaN,229256.00
72,None,Serbia and Montenegro,NaN,NaN
79,None,Sudan (former),NaN,NaN
86,None,TÃ¼rkiye,NaN,900600.00
90,None,United Kingdom of Great Britain and Northern I...,NaN,NaN
94,None,USSR,NaN,NaN
96,None,Venezuela (Bolivarian Republic of),NaN,2975.26
97,None,Yugoslav SFR,NaN,NaN
100,None,World,NaN,20264796.23
101,None,Africa,NaN,802757.60
102,None,Eastern Africa,NaN,455700.00
103,None,Middle Africa,NaN,3820.17
104,None,Northern Africa,NaN,68131.57
105,None,Southern Africa,NaN,275105.86
106,None,Americas,NaN,2028540.09
107,None,Northern America,NaN,281200.00
108,None,Central America,NaN,12535.83
109,None,South America,NaN,1734804.26
110,None,Asia,NaN,2153561.88
111,None,Central Asia,NaN,632953.90
112,None,Eastern Asia,NaN,304100.00
113,None,Southern Asia,NaN,178488.86
114,None,South-eastern Asia,NaN,53962.32
115,None,Western Asia,NaN,984056.80
116,None,Europe,NaN,15266936.66
117,None,Eastern Europe,NaN,13118733.00
118,None,Northern Europe,NaN,14302.97
119,None,Southern Europe,NaN,1107302.00
120,None,Western Europe,NaN,1026598.69
121,None,Oceania,NaN,13000.00
122,None,Australia and New Zealand,NaN,13000.00
123,None,European Union (27),NaN,4189933.66
124,None,Least Developed Countries,NaN,527409.03
125,None,Land Locked Developing Countries,NaN,1137526.06
126,None,Low Income Food Deficit Countries,NaN,552007.76
127,None,Net Food Importing Developing Countries,NaN,608121.72

In [65]:
to_replace = {
    "Turkey": "TÃ¼rkiye",
    "Bosnia & Herzegovina": "Bosnia and Herzegovina",
    "Moldova, Republic of": "Republic of Moldova",
    "The former Yugoslav Republic of Macedonia": "North Macedonia",
    "Czech Republic": "Czechia",
    "Netherlands": "Netherlands (Kingdom of the)",
}
world_boundaries = world_boundaries.replace(to_replace)

In [66]:
sunflower_gdf = world_boundaries_with_pop_gdf.merge(sunflower_df, on="Area", how="left")

In [67]:
sunflower_gdf = sunflower_gdf[["geometry", "Y2022", "Area", "2022"]].fillna(0)
sunflower_gdf = sunflower_gdf.rename(columns={"Y2022": "OIL", "2022": "POPULATION"})
sunflower_gdf["OIL"] = sunflower_gdf["OIL"].astype(int)
sunflower_gdf["POPULATION"] = sunflower_gdf["POPULATION"].astype(int)

In [68]:
sunflower_gdf["OIL_PER_1000"] = (
    (sunflower_gdf["OIL"] / (sunflower_gdf["POPULATION"] / 1_000)).fillna(0)
).round(decimals=1)
sunflower_gdf["OIL_PER_100"] = (
    (sunflower_gdf["OIL"] / (sunflower_gdf["POPULATION"] / 100)).fillna(0)
).round(decimals=1)

In [69]:
sunflower_gdf.to_file("data/sunflower_oil.gpkg")