In [7]:
import geopandas as gpd
import pandas as pd

## Open Europe Data

In [8]:
world_boundaries = gpd.read_file("data/world_boundaries.gpkg")

In [9]:
world_boundaries = world_boundaries[["geometry", "name"]]

In [10]:
world_boundaries = world_boundaries.rename(columns={"name": "Area"})

## Get FAO data

In [13]:
production_crops_df = pd.read_csv(
    "data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data.csv"
)

/tmp/ipykernel_51361/1714172639.py:1: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191,194,197) have mixed types. Specify dtype option on import or set low_memory=False.
  production_crops_df = pd.read_csv("data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data.csv")

In [23]:
sunflower_df = production_crops_df[production_crops_df["Item Code"] == 268][
    ["Area", "Y2022"]
]

## Merge Data

In [27]:
sunflower_gdf = world_boundaries.merge(sunflower_df, on="Area", how="right")

In [29]:
sunflower_gdf[sunflower_gdf["geometry"] == None]

    geometry                                               Area        Y2022
12      None                                 Belgium-Luxembourg          NaN
13      None                   Bolivia (Plurinational State of)     90100.00
14      None                             Bosnia and Herzegovina     32400.00
22      None                                    China, mainland    304100.00
25      None                                            Czechia     96600.00
26      None                                     Czechoslovakia          NaN
60      None                       Netherlands (Kingdom of the)    207000.00
61      None                                    North Macedonia      3200.00
68      None                                Republic of Moldova    229256.00
72      None                              Serbia and Montenegro          NaN
79      None                                     Sudan (former)          NaN
86      None                                            TÃ¼rkiye    900600.00
90      None  United Kingdom of Great Britain and Northern I...          NaN
94      None                                               USSR          NaN
96      None                 Venezuela (Bolivarian Republic of)      2975.26
97      None                                       Yugoslav SFR          NaN
100     None                                              World  20264796.23
101     None                                             Africa    802757.60
102     None                                     Eastern Africa    455700.00
103     None                                      Middle Africa      3820.17
104     None                                    Northern Africa     68131.57
105     None                                    Southern Africa    275105.86
106     None                                           Americas   2028540.09
107     None                                   Northern America    281200.00
108     None                                    Central America     12535.83
109     None                                      South America   1734804.26
110     None                                               Asia   2153561.88
111     None                                       Central Asia    632953.90
112     None                                       Eastern Asia    304100.00
113     None                                      Southern Asia    178488.86
114     None                                 South-eastern Asia     53962.32
115     None                                       Western Asia    984056.80
116     None                                             Europe  15266936.66
117     None                                     Eastern Europe  13118733.00
118     None                                    Northern Europe     14302.97
119     None                                    Southern Europe   1107302.00
120     None                                     Western Europe   1026598.69
121     None                                            Oceania     13000.00
122     None                          Australia and New Zealand     13000.00
123     None                                European Union (27)   4189933.66
124     None                          Least Developed Countries    527409.03
125     None                   Land Locked Developing Countries   1137526.06
126     None                  Low Income Food Deficit Countries    552007.76
127     None            Net Food Importing Developing Countries    608121.72

In [39]:
to_replace = {
    "Turkey": "TÃ¼rkiye",
    "Bosnia & Herzegovina": "Bosnia and Herzegovina",
    "Moldova, Republic of": "Republic of Moldova",
    "The former Yugoslav Republic of Macedonia": "North Macedonia",
    "Czech Republic": "Czechia",
    "Netherlands": "Netherlands (Kingdom of the)",
}
world_boundaries = world_boundaries.replace(to_replace)

In [40]:
sunflower_gdf = world_boundaries.merge(sunflower_df, on="Area", how="left")

In [41]:
sunflower_gdf = sunflower_gdf[["geometry", "Y2022", "Area"]].fillna(0)
sunflower_gdf["Y2022"] = sunflower_gdf["Y2022"].astype(int)

In [42]:
sunflower_gdf.to_file("data/sunflower_oil.gpkg")