In [1]:
import geopandas as gpd
import pandas as pd

## Open GIS Data

In [2]:
file_path = "data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp"
states_df = gpd.read_file(file_path)

## Get Ethnic Data

In [3]:
acs_ethnicity = pd.read_csv("data/ACSDT5Y2022.B04006-2024-11-26T060413.csv")

In [4]:
rename_columns = {}
for column in list(acs_ethnicity.columns):
    str_split = column.split("!!")
    if len(str_split) == 2:
        if str_split[1] == "Estimate":
            rename_columns[column] = str_split[0].strip()
    else:
        continue

In [5]:
states = list(rename_columns.values())
states.remove("Peoples township, Boone County, Iowa")

In [6]:
rename_columns["Label (Grouping)"] = "group"
states.append("group")
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

In [7]:
acs_ethnicity = acs_ethnicity[states]
states.remove("group")

#### Remove the last record as it's the titles, set then remove.

In [8]:
acs_ethnicity = acs_ethnicity.T.reset_index()
acs_ethnicity.columns = acs_ethnicity.iloc[52]
acs_ethnicity = acs_ethnicity.drop(acs_ethnicity.index[52])

In [9]:
states_series = acs_ethnicity["group"]

In [10]:
acs_ethnicity = acs_ethnicity.loc[:, acs_ethnicity.columns != "group"].apply(
    lambda col: pd.to_numeric(col.str.replace(",", ""), errors="coerce"), axis=1
)

In [11]:
acs_ethnicity["NAME"] = states_series

In [12]:
rename_columns = {col: col.strip() for col in list(acs_ethnicity.columns)}
acs_ethnicity = acs_ethnicity.rename(columns=rename_columns)

## Get Difference Data

In [31]:
df = acs_ethnicity[["NAME", "Total:", "Czech", "Slovak"]]

In [37]:
acs_ethnicity[acs_ethnicity["Czech"] > acs_ethnicity["Czechoslovakian"]]

52,Total:,Afghan,Albanian,Alsatian,American,Arab:,Egyptian,Iraqi,Jordanian,Lebanese,...,Haitian,Jamaican,Trinidadian and Tobagonian,U.S. Virgin Islander,West Indian,Other West Indian,Yugoslavian,Other groups,Unclassified or not reported,NAME
0,5028092,213,170,0,748204,13718,946,127,142,5199,...,2622,6082,682,223,1999,16,744,1701194,1364081,Alabama
1,734821,43,333,12,25100,905,116,5,0,290,...,355,504,102,0,115,0,296,287226,162298,Alaska
2,7172282,2930,2338,168,278571,37242,3893,6788,2059,9970,...,2828,7410,1306,201,2122,198,6026,2881683,1536729,Arizona
3,3018669,57,111,52,263371,5553,690,221,106,1463,...,737,805,417,43,918,136,259,979004,961058,Arkansas
4,39356104,61122,5268,758,1134635,324963,58380,24399,15752,63675,...,13930,38751,6615,650,9156,669,18769,21628661,7164954,California
5,5770790,1928,1063,281,206114,25914,1969,1997,825,7416,...,1450,4195,691,153,1175,24,3869,1678433,1359522,Colorado
6,3611317,2240,11763,220,130297,25093,2502,440,533,9225,...,18950,60824,3924,333,5114,176,4434,989507,648917,Connecticut
7,993635,237,159,22,48089,3898,574,6,64,799,...,5023,5594,1137,55,1060,0,354,294948,242117,Delaware
8,670587,141,579,63,18427,6041,613,432,73,1934,...,1484,6074,2117,98,1501,48,162,335012,110414,District of Columbia
9,21634529,1756,16814,316,1729810,137361,17814,4086,4686,43481,...,496400,309454,39566,8102,34477,1583,14834,7976728,4409481,Florida
10,10722325,1978,1628,143,907026,35290,5022,3182,997,10068,...,39066,75779,10001,1688,13386,116,7818,4350456,2633087,Georgia
11,1450589,90,60,36,18350,2371,315,16,23,849,...,957,1121,143,0,482,13,296,969543,248912,Hawaii
12,1854109,496,126,0,105336,5084,286,1023,76,1429,...,460,266,163,1,154,0,1812,414892,446801,Idaho
13,12757634,1601,14400,422,438062,96334,8530,7689,10181,12364,...,10223,15157,1471,175,3326,114,16898,4347556,2740754,Illinois
14,6784403,794,633,212,479255,22388,3027,428,1655,5423,...,6144,3532,570,72,963,110,3149,1478537,2077534,Indiana
15,3188836,766,456,7,139661,10232,1006,1097,314,3394,...,1167,1543,100,0,332,0,7652,500611,815058,Iowa
16,2935922,789,152,67,168501,10330,685,838,841,3396,...,1185,1575,91,6,536,0,459,743879,742248,Kansas
17,4502935,424,1381,151,570404,15509,899,1509,963,3462,...,1957,2215,368,80,705,105,4202,871310,1466989,Kentucky
18,4640546,34,202,66,340935,21822,2253,444,1743,6161,...,4035,2966,1336,24,1922,64,689,1864927,1068220,Louisiana
19,1366949,617,447,87,83117,5019,155,624,22,2623,...,343,1578,201,19,190,85,349,153809,318534,Maine
20,6161707,4483,1897,172,268856,36973,6846,1385,1020,7429,...,17432,46141,13163,709,10755,282,1443,2358984,1317759,Maryland
21,6984205,1029,21236,287,259559,73986,6869,3856,1445,30833,...,80378,35136,8726,636,6718,92,2724,1625407,1363260,Massachusetts
22,10057921,1513,26197,178,448235,211225,5525,37036,5144,69798,...,3888,9825,1075,69,1415,88,14489,2395906,2278681,Michigan
23,5695292,1267,804,116,176207,26128,3910,1975,806,8040,...,1726,3507,1384,119,1444,6,5059,944987,1139850,Minnesota
24,2958846,94,63,38,301953,6980,116,0,333,2969,...,672,2057,74,0,218,59,528,1256525,747409,Mississippi
25,6154422,946,2108,198,428609,23627,2034,2695,752,5940,...,2697,4208,654,21,685,28,12570,1413054,1724537,Missouri
26,1091840,6,13,25,55959,1644,240,0,0,808,...,257,187,61,0,185,0,1553,179785,253189,Montana
27,1958939,1021,135,19,71308,8427,428,2782,185,1892,...,438,750,234,0,214,0,697,392244,465704,Nebraska
28,3104817,421,323,19,105533,14516,1593,1133,305,4377,...,2014,3691,831,113,942,16,2690,1417879,621604,Nevada
29,1379610,80,1837,49,61486,8081,298,338,228,5182,...,1753,1780,117,9,569,18,1373,175325,267038,New Hampshire
30,9249063,2453,15101,383,307664,114009,46159,1975,5525,13568,...,71444,69540,17351,1218,14042,217,5029,3443647,1641239,New Jersey
31,2112463,399,87,33,85212,6582,234,468,153,2412,...,358,964,57,31,300,0,430,1211541,347419,New Mexico
32,19994379,9613,55282,884,898408,188888,39303,6900,6042,36152,...,184438,309071,85651,3885,100842,1218,17599,6820759,4102059,New York
33,10470214,1683,1603,202,977484,45666,7030,1456,2345,13288,...,12265,23560,3014,710,7634,149,3179,3564031,2554116,North Carolina
34,776874,441,191,0,20773,3064,235,119,20,817,...,546,627,8,0,36,0,745,104265,168156,North Dakota
35,11774683,1155,3530,650,704122,87611,7944,3053,4762,27726,...,5717,11404,1684,202,3179,33,7305,2540962,2926169,Ohio
36,3970497,369,393,52,269379,12001,758,664,448,4748,...,719,2766,406,119,630,0,545,1437857,1110224,Oklahoma
37,4229374,1326,276,224,189768,19307,2110,1732,358,5016,...,1159,2339,719,27,664,69,2933,1157303,935025,Oregon
38,12989208,1852,10132,459,577261,77963,11474,2977,1932,22723,...,24452,38585,8298,880,10676,119,9564,2646601,2985441,Pennsylvania
39,1094250,4,756,31,39691,9304,1105,129,177,3564,...,4855,2271,499,0,753,15,43,252926,192261,Rhode Island
40,5142750,142,1334,136,476978,15767,1603,1040,335,6008,...,3675,10450,1573,96,2402,115,1506,1739671,1281327,South Carolina
41,890342,166,267,49,40361,1994,228,143,13,708,...,334,193,0,2,484,0,692,157302,184829,South Dakota
42,6923772,1342,1792,100,823398,43403,13028,3869,819,6780,...,3701,6270,1021,202,1437,95,2677,1936327,1951014,Tennessee
43,29243342,12941,5370,2284,1452247,165625,19434,19107,12000,36524,...,13077,35083,8874,1437,11580,297,8344,15051153,5973075,Texas
44,3283809,617,436,2,138626,9023,991,1813,373,2186,...,739,1017,259,0,162,0,4397,767428,705974,Utah
45,643816,0,93,25,46096,2051,19,73,29,1171,...,235,1054,74,2,42,0,1025,80966,136784,Vermont
46,8624511,21089,3196,302,776887,81368,12846,6799,4223,17815,...,7884,22921,5269,1469,6773,15,3928,2826501,1997563,Virginia
47,7688549,5996,1400,301,285061,39659,4881,5191,2235,8774,...,3007,7707,1623,116,1977,136,9126,2409882,1579095,Washington
48,1792967,0,57,42,174493,6739,709,90,68,3004,...,264,1340,113,18,168,10,478,235551,666587,West Virginia
49,5882128,239,4722,170,185284,16850,1683,974,732,3792,...,1258,3874,84,149,737,73,3677,1081632,1109732,Wisconsin
50,577929,0,60,0,27538,560,49,0,15,130,...,15,98,11,0,12,0,873,120181,141532,Wyoming
51,3272382,0,0,0,45869,1546,8,19,0,251,...,584,130,108,341,3595,54,0,3025066,203005,Puerto Rico

In [32]:
def more(row) -> str:
    if row["Czech"] > row["Slovak"]:
        return "More Czech"
    else:
        return "More Slovak"

In [33]:
df["more"] = df.apply(lambda row: more(row), axis=1)

/tmp/ipykernel_36373/3462128210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["more"] = df.apply(lambda row: more(row), axis=1)

In [34]:
df[df["more"] == "More Slovak"]

52           NAME    Total:  Czech  Slovak         more
6     Connecticut   3611317   9904   16347  More Slovak
7        Delaware    993635   1681    1874  More Slovak
14        Indiana   6784403  14577   17775  More Slovak
30     New Jersey   9249063  20074   28811  More Slovak
35           Ohio  11774683  52918  104647  More Slovak
38   Pennsylvania  12989208  42110  167879  More Slovak
48  West Virginia   1792967   2762    3800  More Slovak

## Merge Data

In [24]:
diff_gdf = states_df[["geometry", "NAME"]].merge(df, on="NAME", how="left")

In [25]:
diff_gdf = diff_gdf.to_crs(9311)

In [26]:
diff_gdf.to_file("data/diff.gpkg")