In [1]:
import geopandas as gpd

## Open Wendy's Data

In [2]:
wendys_gdf = gpd.read_file("data/wendys_per_state.gpkg")
wendys_gdf = wendys_gdf[["NAME", "WENDYS"]]

In [3]:
gpd.read_file("data/wendys_per_state.gpkg")[["NAME", "per_1m"]].sort_values(
    "per_1m", ascending=False
).head(3)

             NAME     per_1m
4   West Virginia  41.796221
44           Ohio  33.998549
0     Mississippi  31.598561

In [13]:
gpd.read_file("data/wendys_per_state.gpkg")[["NAME", "per_100k"]].sort_values(
    "per_100k", ascending=False
).head(3)

             NAME  per_100k
4   West Virginia  4.179622
44           Ohio  3.399855
0     Mississippi  3.159856

## Open Burger King Data

In [14]:
bk_gdf = gpd.read_file("data/bks_per_state.gpkg")
bk_gdf = bk_gdf[["geometry", "NAME", "BKs"]]

In [15]:
gpd.read_file("data/bks_per_state.gpkg")[["NAME", "per_100k"]].sort_values(
    "per_100k", ascending=False
).head(3)

            NAME  per_100k
4  West Virginia  3.445364
5      Louisiana  3.116778
0    Mississippi  2.854064

In [7]:
gpd.read_file("data/bks_per_state.gpkg")[["NAME", "BKs"]].sort_values(
    "BKs", ascending=False
).head(2)

       NAME  BKs
15    Texas  566
9   Florida  502

## Merge

In [8]:
wendys_bk_gdf = bk_gdf.merge(wendys_gdf, on="NAME", how="inner").reset_index(drop=True)
wendys_bk_gdf["WENDYS"] = wendys_bk_gdf["WENDYS"].astype(int)

In [9]:
def more_stores(row) -> str:
    wendys = row["WENDYS"]
    bks = row["BKs"]
    if wendys > bks:
        return "More Wendy's"
    if bks > wendys:
        return "More Burger Kings"
    if bks == wendys:
        return "Same Amount"
    else:
        return "Edge Case"

In [10]:
wendys_bk_gdf["label"] = wendys_bk_gdf.apply(lambda row: more_stores(row), axis=1)

In [11]:
wendys_bk_gdf = wendys_bk_gdf.to_crs(9311)
wendys_bk_gdf.to_file("data/wendys_bk.gpkg")