In [104]:
import os
import requests

In [105]:
import geopandas as gpd
import pandas as pd

## Open State data

In [106]:
file_path = "data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp"
state_gdf = gpd.read_file(file_path)

## Open Politics Contributions Data

In [107]:
def format_df(path: str) -> pd.DataFrame:
    df = pd.read_csv(path)
    df["Amount"] = df["Amount"].str.replace("$", "").astype(int)
    df = df.rename(columns={"Representative": "POLITICIAN", "Senator": "POLITICIAN"})
    print(path, f"${df['Amount'].sum():,}")
    return df

In [108]:
dfs = [
    format_df("data/Money from Pro-Israel to US Senate candidates, 2023-2024.csv"),
    format_df("data/Money from Pro-Israel to US House candidates, 2023-2024.csv"),
]

data/Money from Pro-Israel to US Senate candidates, 2023-2024.csv $16,959,960
data/Money from Pro-Israel to US House candidates, 2023-2024.csv $51,629,380

In [109]:
merged = pd.concat(dfs).reset_index(drop=True)

In [110]:
money_df = merged.groupby("State", as_index=False)["Amount"].sum()
money_df = money_df.rename(columns={"State": "NAME"})

## Merge Data

In [111]:
congress_gdf = state_gdf.merge(money_df, on="NAME", how="left")

In [112]:
congress_gdf = congress_gdf.fillna(0)

In [113]:
congress_gdf = congress_gdf.to_crs(9311)
congress_gdf.to_file("data/Pro_Israel_Contributions_Per_State.gpkg")

In [121]:
f"${congress_gdf['Amount'].sum():,}"

'$68,589,340.0'

In [116]:
congress_gdf[["NAME", "Amount"]].sort_values("Amount", ascending=False)

                                            NAME      Amount
25                                      New York  10608197.0
16                                    California   6504498.0
9                                        Florida   3966272.0
15                                         Texas   3921878.0
39                                    New Jersey   3573535.0
19                                  Pennsylvania   3475977.0
20                                      Missouri   3238520.0
48                                          Ohio   2445603.0
40                                      Maryland   2141412.0
28                                        Nevada   1948092.0
35                                       Arizona   1852270.0
10                                      Nebraska   1802988.0
5                                      Louisiana   1763558.0
11                                    Washington   1507697.0
6                                       Michigan   1496354.0
1                                 North Carolina   1406871.0
31                                       Montana   1269691.0
54                                     Minnesota   1259986.0
29                                      Illinois   1103370.0
7                                  Massachusetts   1079922.0
53                                       Indiana    965568.0
23                                     Tennessee    915581.0
49                                     Wisconsin    882769.0
3                                       Virginia    766081.0
41                                         Maine    719578.0
21                                      Colorado    717781.0
2                                       Oklahoma    676859.0
17                                       Alabama    588963.0
46                                  Rhode Island    553783.0
34                                 New Hampshire    519327.0
18                                       Georgia    490445.0
32                                          Iowa    476876.0
50                                        Oregon    467270.0
0                                    Mississippi    449143.0
51                                  North Dakota    394722.0
22                                          Utah    356798.0
12                                    New Mexico    343544.0
33                                South Carolina    336403.0
47                                      Kentucky    324668.0
26                                        Kansas    259326.0
4                                  West Virginia    253993.0
52                                      Arkansas    184467.0
55                                   Connecticut    171027.0
43                                      Delaware    149255.0
27                                        Alaska     77525.0
24                                       Wyoming     71453.0
42                                        Hawaii     36125.0
8                                          Idaho     27000.0
30                                       Vermont     23923.0
14                                  South Dakota     22396.0
13                                   Puerto Rico         0.0
36                          District of Columbia         0.0
38                  United States Virgin Islands         0.0
37                                American Samoa         0.0
44                                          Guam         0.0
45  Commonwealth of the Northern Mariana Islands         0.0