In [211]:
import geopandas
import pandas as pd

In [212]:
europe_df = geopandas.read_file("data/europe.geojson")

In [213]:
world_df = geopandas.read_file("data/world-administrative-boundaries.geojson")
world_df.to_file("data/world_boundaries.gpkg")

## Surrounding Countries

In [214]:
non_european_countries_in_map = [
    "Morocco",
    "Algeria",
    "Tunisia",
    "Libyan Arab Jamahiriya",
    "Israel",
    "Lebanon",
    "Egypt",
    "Iraq",
    "Syrian Arab Republic",
    "Iran (Islamic Republic of)",
    "Kazakhstan",
    "Jordan",
    "Saudi Arabia",
    "Turkmenistan",
    "Uzbekistan",
    "Kuwait",
]

In [215]:
european_border_map_df = world_df[world_df["name"].isin(non_european_countries_in_map)]
european_border_map_df = european_border_map_df[
    european_border_map_df["status"] == "Member State"
]
european_border_map_df = european_border_map_df[
    ["name", "iso_3166_1_alpha_2_codes", "geometry"]
]

In [216]:
european_border_map_df

,name,iso_3166_1_alpha_2_codes,geometry
1,Uzbekistan,UZ,"POLYGON ((70.97081 42.25467, 70.98054 42.26205..."
10,Kazakhstan,KZ,"POLYGON ((87.3482 49.09262, 87.31638 49.09777,..."
18,Morocco,MA,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663..."
60,Kuwait,KW,"MULTIPOLYGON (((48.22832 29.59528, 48.20277 29..."
64,Iran (Islamic Republic of),IR,"MULTIPOLYGON (((55.73499 26.83805, 55.73166 26..."
71,Syrian Arab Republic,SY,"POLYGON ((42.35562 37.10693, 42.37833 37.07206..."
105,Egypt,EG,"POLYGON ((34.21666 31.32333, 34.23917 31.29472..."
131,Tunisia,TN,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72..."
158,Algeria,DZ,"POLYGON ((8.62203 36.94137, 8.63222 36.88194, ..."
172,Iraq,IQ,"POLYGON ((44.78734 37.14971, 44.76617 37.11228..."
201,Turkmenistan,TM,"POLYGON ((66.53774 37.36638, 66.51242 37.36166..."
220,Lebanon,LB,"POLYGON ((35.97277 34.6475, 36.03083 34.6325, ..."
231,Israel,IL,"POLYGON ((35.62364 33.24573, 35.63249 33.24637..."
232,Libyan Arab Jamahiriya,LY,"POLYGON ((25.15166 31.64694, 25.14805 31.64611..."
234,Jordan,JO,"POLYGON ((39.19674 32.15494, 39.07222 32.05778..."
248,Saudi Arabia,SA,"MULTIPOLYGON (((41.945 16.71083, 41.95777 16.7..."

## Set Values

In [217]:
european_border_map_df.at[1, "LIFE_EXPECTANCY"] = 74.65
european_border_map_df.at[10, "LIFE_EXPECTANCY"] = 71.61
european_border_map_df.at[18, "LIFE_EXPECTANCY"] = 75.15
european_border_map_df.at[60, "LIFE_EXPECTANCY"] = 80.26
european_border_map_df.at[64, "LIFE_EXPECTANCY"] = 74.82
european_border_map_df.at[71, "LIFE_EXPECTANCY"] = 70.41
european_border_map_df.at[105, "LIFE_EXPECTANCY"] = 72.38
european_border_map_df.at[131, "LIFE_EXPECTANCY"] = 75.55
european_border_map_df.at[158, "LIFE_EXPECTANCY"] = 78.18
european_border_map_df.at[172, "LIFE_EXPECTANCY"] = 72.11
european_border_map_df.at[201, "LIFE_EXPECTANCY"] = 71.39
european_border_map_df.at[220, "LIFE_EXPECTANCY"] = 74.42
european_border_map_df.at[231, "LIFE_EXPECTANCY"] = 82.60
european_border_map_df.at[232, "LIFE_EXPECTANCY"] = 72.15
european_border_map_df.at[234, "LIFE_EXPECTANCY"] = 73.43
european_border_map_df.at[248, "LIFE_EXPECTANCY"] = 77.91

In [218]:
european_border_map_df.at[1, "HDI"] = 0.814
european_border_map_df.at[10, "HDI"] = 0.816
european_border_map_df.at[18, "HDI"] = 0.717
european_border_map_df.at[60, "HDI"] = 0.845
european_border_map_df.at[64, "HDI"] = 0.817
european_border_map_df.at[71, "HDI"] = 0.595
european_border_map_df.at[105, "HDI"] = 0.777
european_border_map_df.at[131, "HDI"] = 0.777
european_border_map_df.at[158, "HDI"] = 0.766
european_border_map_df.at[172, "HDI"] = 0.689
european_border_map_df.at[201, "HDI"] = 0.800
european_border_map_df.at[220, "HDI"] = 0.693
european_border_map_df.at[231, "HDI"] = 0.915
european_border_map_df.at[232, "HDI"] = 0.751
european_border_map_df.at[234, "HDI"] = 0.753
european_border_map_df.at[248, "HDI"] = 0.899

In [219]:
european_border_map_df = european_border_map_df.rename(
    columns={"iso_3166_1_alpha_2_codes": "ISO2"}
)

In [220]:
european_border_map_df = european_border_map_df[
    ["ISO2", "LIFE_EXPECTANCY", "HDI", "geometry"]
]
europe_df = europe_df[["ISO2", "LIFE_EXPECTANCY", "HDI", "geometry"]]

## Merge data

In [221]:
merged_df = pd.concat([european_border_map_df, europe_df])

In [222]:
russia_geography = world_df[world_df["iso_3166_1_alpha_2_codes"] == "RU"][
    "geometry"
].iloc[0]
merged_df[merged_df["ISO2"] == "RU"]

,ISO2,LIFE_EXPECTANCY,HDI,geometry
45,RU,78.2,0.94,"MULTIPOLYGON (((21.36335 55.28687, 21.39076 55..."

In [223]:
merged_df.at[45, "geometry"] = russia_geography

In [224]:
merged_df["LIFE_EXPECTANCY"]

1     74.65
10    71.61
18    75.15
60    80.26
64    74.82
      ...
41    78.89
42    83.71
43    68.56
44    74.14
45    78.20
Name: LIFE_EXPECTANCY, Length: 62, dtype: float64

In [226]:
merged_df.to_file("data/hdi.gpkg")