In [31]:
import requests

In [20]:
import geopandas as gpd
import pandas as pd

## Open GIS Data

In [24]:
states_gdf = gpd.read_file('data/cb_2018_us_state_500k/cb_2018_us_state_500k.shp')

## Open and format 2020 Election Data

In [6]:
elelection_data_2020 = pd.read_excel('data/federalelections2020.xlsx', sheet_name=None)

/mnt/c/Users/Winston/Documents/GitHub/VineMapper/California_Republican_Pres_Turnout_2020_2024/.venv/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/mnt/c/Users/Winston/Documents/GitHub/VineMapper/California_Republican_Pres_Turnout_2020_2024/.venv/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [28]:
election_2020_df = elelection_data_2020['3. Table 2 Electoral & Pop Vote'][['2020 PRESIDENTIAL ELECTORAL AND POPULAR VOTE','Unnamed: 3', 'Unnamed: 4','Unnamed: 6']]
election_2020_df = election_2020_df.rename(columns={'2020 PRESIDENTIAL ELECTORAL AND POPULAR VOTE': "state",'Unnamed: 3	': "biden", 'Unnamed: 4': "trump",'Unnamed: 6':"total"})

In [30]:
election_2020_df

,state,biden,trump,total
0,NaN,NaN,NaN,NaN
1,STATE,POPULAR VOTE,POPULAR VOTE,POPULAR VOTE
2,NaN,Biden (D),Trunp (R),Total Vote
3,AL,849624,1441170,2323282
4,AK,153778,189951,359530
5,AZ,1672143,1661686,3387326
6,AR,423932,760647,1219069
7,CA,11110639,6006518,17501380
8,CO,1804352,1364607,3256980
9,CT,1080831,714717,1823857
10,DE,296268,200603,504346
11,DC,317323,18586,344356
12,FL,5297045,5668731,11067456
13,GA,2473633,2461854,4999960
14,HI,366130,196864,574469
15,ID,287021,554119,867934
16,IL,3471915,2446891,6033744
17,IN,1242498,1729857,3033210
18,IA,759061,897672,1690871
19,KS,570323,771406,1373986
20,KY,772474,1326646,2136768
21,LA,856034,1255776,2148062
22,ME*,435072,360737,819461
23,MD,1985023,976414,3037030
24,MA,2382202,1167202,3631402
25,MI,2804040,2649852,5539302
26,MN,1717077,1484065,3277171
27,MS,539398,756764,1313759
28,MO,1253014,1718736,3025962
29,MT,244786,343602,603674
30,NE*,374583,556846,956383
31,NV,703486,669890,1405376
32,NH,424937,365660,806205
33,NJ,2608400,1883313,4549457
34,NM,501614,401894,923965
35,NY,5244886,3251997,8616861
36,NC,2684292,2758775,5524804
37,ND,115042,235751,362024
38,OH,2679165,3154834,5922202
39,OK,503890,1020280,1560699
40,OR,1340383,958448,2374321
41,PA,3458229,3377674,6936976
42,RI,307486,199922,517757
43,SC,1091541,1385103,2513329
44,SD,150471,261043,422609
45,TN,1143711,1852475,3053851
46,TX,5259126,5890347,11315056
47,UT,560282,865140,1488289
48,VT,242820,112704,367428
49,VA,2413568,1962430,4460524
50,WA,2369612,1584651,4087631
51,WV,235984,545382,794731
52,WI,1630866,1610184,3298041
53,WY,73491,193559,276765
54,Total:,81283501,74223975,158429631
55,NaN,0.5131,0.4685,NaN
56,NaN,NaN,NaN,NaN
57,Total Electoral Vote = 538. Total Electoral V...,NaN,NaN,NaN

## Get 2024 Election data

In [ ]:
election_data_url = 'https://static01.nyt.com/elections-assets/2020/data/api/2020-11-03/national-map-page/national/president.json'